<!DOCTYPE html>
<html>
<head>
    <title>Typing Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div id="quote">
                <h1 id="quote-text">{{ quote }}</h1>
            </div>
            <form action="/results" method="POST">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

